* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', 'Open Sans', 'Helvetica Neue', sans-serif;
}

::-webkit-scrollbar {
    display: none;
}

/* Header */

header {
    width: 100vmax;
    height: 100vh;
    background: 
    linear-gradient(180deg,
    rgba(0,0,0,1) 0%, 
    rgba(0,212,255,0) 50%, 
    rgba(0,0,0,1) 100%), 
    url(https://images.arcadis.com/media/B/E/F/%7BBEF033AC-507D-4812-9683-2DDC171F64DB%7DPuertoSanAntonio_2.jpg);
    background-position: center;
    background-size: cover;
}

nav{
    text-align: right;
    padding: 30px 50px 0 0;
}

nav > a{
    color:#fff;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;
}

nav > a:hover{
    text-decoration: underline;
}

header .textos-header{
    height: auto;
    width: 100vw;
    align-items: left;
    margin-left: 141px;
    margin-top: 320px;
    justify-content: left;
    flex-direction: column;
    text-align: left;
    padding-bottom: 69px;
}

.textos-header h1{
    font-size: 60px;
    color:#fff;
}

.textos-header h2{
    font-size: 60px;
    font-weight: 300;
    color:#fff;
}

.menu-2{
    display: flex;
    flex-wrap: nowrap;
    height: 100px;
    font-size: 14px;
    width: auto;
}

.box{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 35px;
    color: #fff;
    text-align: left;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.box1{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 35px;
    padding-bottom: 35px;
    color: #fff;
    text-align: left;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background-color: #1fbbeb;
}

/* Cifras Destacadas */

main .cifras-destacadas{
    padding: 65px 0 65px 0;
    color: #44484c;
    text-align: center;
    font-weight: 300;
}

.cifras-destacadas h2{
    font-weight: 300;
}

.contenedor-cifras-destacadas{
    max-width: 100vw;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    justify-content: space-evenly;
    margin-bottom: 113px;
}

.titulo {
    font-weight: 10 ;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}

.cifras{
    display: flex;
    flex-wrap: wrap;
}

.cifra{
    flex: 33%;
    color: #1fbbeb;
}

.Sostenibilidad{
    background-image: url(https://farm6.staticflickr.com/5101/30121613371_aba28bb9ab_b.jpg) ;
    background-size: cover;
    width: 100vw;
    height: 800px ;
    color: white;
    font-weight: 400;
}
.elemento-container{
    width:32%;
    float:left;

}

    .elemento-container div {
        width: 265px;
        margin: auto auto;
    }

.titulo p {
    color: white;
    font-weight: 60;
    font-size: 20px;
    margin-top: 60px;
}

.titulo h2{
    font-weight: 20;
    font-size: 30px;
}

main .Sostenibilidad{
    padding: 65px 0 65px 0;
    text-align: center;
}


.DESTACAMOS-PRENSA-REDES{
    background-color: #e4e6e8 ;
   }


.container {
    max-width: 100vw;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    justify-content: space-evenly;
    margin-bottom: 113px;
    flex: 33%;
 }
        



 .poto div{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

